<%- partial('_partial/head') %>
<body>
	<%- partial('_partial/header') %>
  <div id="container">
    <div id="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
